<app-nav-bar></app-nav-bar>
<div class="container">
  <div class="card d-flex flex-row-reverse">
    <div class="card-body col-md-3">
      <h5 class="card-title">Timer</h5>
      <section class="stopwatch-label">
        <div id="counterSize">{{ counter | msToSec }}</div>
      </section>
      <section class="timer-btn-container d-flex flex-row">
        <button
          class="btn timer-btn d-flex justify-content-start"
          [ngClass]="{
            'btn-primary': this.running,
            'btn-secondary': !this.running
          }"
          (click)="startResumeTimer()"
        >
          {{ startText }}
        </button>
        <button
          class="btn timer-btn btn-danger d-flex justify-content-end"
          (click)="clearTimer()"
        >
          Clear
        </button>
      </section>
    </div>
    <div class="card-body col-md-4">
      <div class="sanity-block d-flex flex-row">
        <div class="">
          <h5 class="card-title">Sanity Range</h5>
          <div
            *ngIf="this.sanityService.sanity$ | async as sanity"
            class="d-flex flex-row"
          >
            <h3 class="">{{ sanity.low | number: "0.0-0" }}</h3>
            <h3>-</h3>
            <h3>{{ sanity.high | number: "0.0-0" }}</h3>
          </div>
        </div>
        <div class="ml-3 col-md-6">
          <h5 class="card-title">Reset Sanity</h5>
          <div class="d-flex flex-row">
            <input
              type="number"
              class="form-control"
              id="exampleDropdownFormEmail1"
              [formControl]="resetValue"
              placeholder=""
            />
            <button class="btn btn-primary" (click)="resetSanity()">
              Reset
            </button>
          </div>
        </div>
      </div>
      <div class="mt-4">
        <h5 class="card-title">Map</h5>
        <div class="dropdown">
          <button
            class="btn btn-secondary dropdown-toggle"
            type="button"
            id="dropdownMenuButton"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            {{ this.map.name }}
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li>
              <a
                class="dropdown-item"
                (click)="selectMap(map)"
                *ngFor="let map of this.maps"
              >
                {{ map.name }}
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="mt-4 d-flex flex-row">
        <div class="diff">
          <h5 class="card-title">Difficulty</h5>
          <div class="dropdown">
            <button
              class="btn btn-secondary dropdown-toggle"
              type="button"
              id="dropdownMenuButton"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              {{ this.difficulty.name }}
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <li>
                <a
                  class="dropdown-item"
                  (click)="selectDifficulty(difficulty)"
                  *ngFor="let difficulty of this.difficulties"
                >
                  {{ difficulty.name }}
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="darkness col-md-6 d-flex flex-column align-items-end">
          <h5 class="card-title">Darkness</h5>
          <div class="form-check form-switch">
            <input
              class="form-check-input"
              type="checkbox"
              id="flexSwitchCheckChecked"
              [formControl]="inDarkness"
              checked
            />
            <!-- <label class="form-check-label" for="flexSwitchCheckChecked">
              In Darkness
            </label> -->
          </div>
        </div>
      </div>
    </div>
    <div class="freezing-temps col-md-5">
      <div class="card-body">
        <h5 class="card-title">Freezing Temps</h5>
        <p class="card-text">
          There are 6 ghosts that show Freezing Temps and 6 ghosts that do not
          show Freezing Temps. On a No Evidence run, this can be accomplished by
          seeing or not seeing your breath in the ghost's room.
        </p>
        <button
          class="btn"
          [ngClass]="{
            'btn-primary': this.freezingTemps === true,
            'btn-secondary': this.freezingTemps !== true
          }"
          (click)="this.confirmFreezingTemp(true)"
        >
          Yes
        </button>

        <button
          class="btn"
          [ngClass]="{
            'btn-primary': this.freezingTemps === false,
            'btn-secondary': this.freezingTemps !== false
          }"
          (click)="this.confirmFreezingTemp(false)"
        >
          No
        </button>

        <button
          class="btn"
          [ngClass]="{
            'btn-primary': this.freezingTemps === undefined,
            'btn-secondary': this.freezingTemps !== undefined
          }"
          (click)="this.confirmFreezingTemp()"
        >
          Unknown
        </button>
        <span class="reset-warning" *ngIf="this.freezingTemps !== undefined"
          >Warning: Changing the selection here will reset the Test selections
          below</span
        >
      </div>
    </div>
  </div>

  <div class="card" *ngIf="this.freezingTemps === undefined; else testBlock">
    <div class="card-body">
      In order to display tests you must first determine if there are freezing
      temps in the ghost rooms.
    </div>
  </div>

  <ng-template #testBlock>
    <div class="card test" *ngFor="let test of tests">
      <div class="card-body" *ngIf="test">
        <h5 class="card-title">{{ test.name }}</h5>
        <p class="card-text">
          {{ test.description }}
        </p>
        <button
          class="btn"
          [ngClass]="{
            'btn-primary': test.passed === true,
            'btn-secondary': test.passed !== true
          }"
          (click)="this.confirmPass(test.name, true)"
        >
          Pass
        </button>

        <button
          class="btn"
          [ngClass]="{
            'btn-primary': test.passed === false,
            'btn-secondary': test.passed !== false
          }"
          (click)="this.confirmPass(test.name, false)"
        >
          Fail
        </button>

        <button
          class="btn"
          [ngClass]="{
            'btn-primary': test.passed === undefined,
            'btn-secondary': test.passed !== undefined
          }"
          (click)="this.confirmPass(test.name)"
        >
          Untested
        </button>
      </div>
    </div>
  </ng-template>

  <div class="card possible-ghosts" *ngIf="!duplicateTestResults">
    <div class="card-body">
      <h5 class="card-title">Possible Ghosts</h5>
      <span class="card-text">
        <ul class="list-group list-group-flush" *ngIf="this.ghosts?.length">
          <li class="list-group-item" *ngFor="let ghost of this.ghosts">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">{{ ghost.name }}</h5>
              <small *ngIf="ghost.positiveTests?.length">Testable</small>
            </div>
            <p class="mb-1">
              {{ ghost.description }}
            </p>
            <small *ngIf="ghost.requiresFreezingTemp">Freezing Temps</small>
            <small *ngIf="!ghost.requiresFreezingTemp">No Freezing Temps</small>
          </li>
        </ul>
      </span>
    </div>
  </div>

  <div
    class="alert alert-danger d-flex flex-column"
    role="alert"
    *ngIf="duplicateTestResults"
  >
    <span>You have more then 1 passed test, that is not possible!</span>
    <button class="btn btn-danger" (click)="this.resetEverything()">
      Click here to reset everything and try again.
    </button>
  </div>

  <!-- <app-footer></app-footer> -->
</div>
